# Ignorar la carpeta target (archivos generados por Maven)
/target/

# Ignorar la configuración de IntelliJ IDEA
/.idea/
/*.iml

# Archivos generados por Maven y Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Archivos de sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Archivos de respaldo y temporales
*.swp
*.bak
*.tmp
